body
{
    background: #EAE0D5;
    margin:0;
    text-align: center;
    color: #111;
}

.tiles
{
    margin:48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4,100px);
    gap:16px;
}
.tile
{
    height:100px;
    background: #C6AC8F;
    border:5px solid #5E503F;
    cursor: pointer;
}